/data/*
/results/*
/rscript/00_rede/01_GTFS/data
/rscript/00_rede/01_GTFS/rdata
/rscript/00_rede/01_GTFS/results
/rscript/00_rede/01_GTFS/_*
/rscript/00_rede/01_GTFS/.*
/rscript/01_qualificacao/dados/*
/rscript/01_qualificacao/resultados/*
.Rproj.user
