/data/*
/results/*
rosm.cache/*
/rscript/00_rede/*
/rscript/01_qualificacao/*
/rscript/01_tratamento/rosm.cache/*
/rscript/01_tratamento/00_rede/*
/rscript/01_tratamento/01_georreferencing_mcmv_files/*
/rscript/02_processamento/01_spatial_microssimulation_family_income_files/*
.Rproj.user
*.qmd
.Rhistory