/data/*
/results/*
/rscript/00_rede/01_GTFS/data
/rscript/00_rede/01_GTFS/rdata
/rscript/00_rede/01_GTFS/results
/rscript/00_rede/01_GTFS/_*
/rscript/00_rede/01_GTFS/.*
/rscript/01_qualificacao/*
/rscript/02_processamento/01_spatial_microssimulation_family_income_files/*
.Rproj.user
